*{
    box-sizing: border-box !important;
}
body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: #6e42c1ad;

}
.container{
    margin-bottom: 25px;
}
#card1{
    overflow: hidden;
    cursor: zoom-in;
}
.card-img{
    transform-origin: center center;
    /* object-fit: cover; */
    /* height: 100%; */
    /* width: 100%; */
    
}
.header{
    /* text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; */

    /* margin-top: 25px !important; */
    margin-bottom: 25px;
    align-items: center;
    width: 100% !important;
    display: flex !important;
}
.cronometro{
    /* display: inline-block; */
    position: relative !important;
    align-items: center !important;
    justify-content: center !important;
    /* background-image: url(pngwing.com.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#imagem{
    margin-top: -100px;
    position: absolute;
    /* max-width: 100%; */
}
#mostrador{
    /* margin-top: -40px; */
    /* margin-left: 35px; */
    /* display: inline-block; */
    position: absolute;
    font-family: "digi";
    color: red;
    text-align: center;
    font-size: 64px;
    width: 100%;
}



@font-face{
    font-family: "digi";
    src: url(DS-DIGIB.TTF) format("truetype");
}
.card{
    /* background-color: var(--bs-pink); */
}
/* .header h1{

} */
